@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
@section css {
    <link href="~/Content/Admin/css/styles.css" rel="stylesheet" />
}
<div class="card-body p-5" id="hideee">
    <div class="row align-items-center justify-content-between">
        <div class="col">
            <h1 class="text-primary">Chào mừng Admin quay trở lại!!!</h1>
            <h2 class="text-gray-700">Công việc đã đang đợi bạn hoàn thành!!!</h2>
            <h2 class="text-gray-700">Chúc bạn có một ngày làm việc thật vui vẻ !!!</h2>
        </div>
        <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="~/Content/Admin/images/statistics.svg"></div>
    </div>
</div>